<ng-template #empleadoTabla>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="margin-right: 10px;"><i class="fa fa-plus-circle"></i> Nuevo Empleado</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cargo</th>
                <th scope="col">Departamento</th>
                <th scope="col">Sueldo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados">
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.cargo}}</td>
                <td>{{empleado.departamento}}</td>
                <td>{{empleado.sueldo}}</td>
                <td>
                    <button (click)="editarEmpleado(empleado)"  data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-primary"
                        style="margin-right: 10px;"><i class="fa fa-pencil"></i> Editar</button>
                    <button (click)="eliminarEmpleado(empleado._id)" type="button" class="btn btn-danger"><i
                            class="fa fa-trash-o"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-container *ngIf="empleados.length==0; else empleadoTabla">
    <h1>Empleados no registrados</h1>
</ng-container>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #crearEmpleadoForm="ngForm" (ngSubmit)="guardarNuevoEmpleado()">
                    <div class="mb-3">
                        <label for="nombre" class="form-label" style="display: flex;"><i class="fa fa-circle"
                                style="font-size: 8px; color: red; margin-right: 5px;" aria-hidden="true"></i>
                            Nombre</label>
                        <input type="text" required class="form-control" id="nombre" placeholder="Nombre" name="nombre"
                            [(ngModel)]="empleado.nombre">
                    </div>
                    <div class="mb-3">
                        <label for="cargo" class="form-label" style="display: flex;"><i class="fa fa-circle"
                                style="font-size: 8px; color: red;margin-right: 5px;" aria-hidden="true"></i>
                            Cargo</label>
                        <input type="text" required class="form-control" id="cargo" placeholder="Cargo" name="cargo"
                            [(ngModel)]="empleado.cargo">
                    </div>
                    <div class="mb-3">
                        <label for="departamento" class="form-label" style="display: flex;"><i class="fa fa-circle"
                                style="font-size: 8px; color: red;margin-right: 5px;" aria-hidden="true"></i>
                            Departamento</label>
                        <input type="text" required class="form-control" id="departamento" placeholder="Departamento"
                            name="departamento" [(ngModel)]="empleado.departamento">
                    </div>
                    <div class="mb-3">
                        <label for="sueldo" class="form-label" style="display: flex;"><i class="fa fa-circle"
                                style="font-size: 8px; color: red;margin-right: 5px;" aria-hidden="true"></i>
                            Sueldo</label>
                        <input type="number" required min="0" class="form-control" id="sueldo" placeholder="Sueldo"
                            name="sueldo" [(ngModel)]="empleado.sueldo">
                    </div>
                </form>
                <div *ngIf="hasErrors" class="alert alert-danger d-flex align-items-center" role="alert">
                    <i class="fa fa-exclamation-triangle" style="font-size: 20px; color: red; margin-right: 15px;"
                        aria-hidden="true"></i>
                    <div>
                        Ingresar todos los campos
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="cancelarCreacion()"> <i class="fa fa-times-circle-o" style="font-size: 20px; margin-right: 15px;"
                    aria-hidden="true"></i>Cerrar</button>
                <button type="button" (click)="enviarFormulario()" class="btn btn-primary"
                    type="submit" data-dismiss="modal"> <i class="fa fa-floppy-o" style="font-size: 20px; margin-right: 15px;"
                    aria-hidden="true"></i>Guardar</button>
            </div>
        </div>
    </div>
</div>